<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zvistka</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/base.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/vendor.css">
    <link rel="stylesheet" href="~/Content/main.css">
</head>
<body id="top">
<header class="s-header">
    <nav class="header-nav-wrap pull-left" style="left: 120px; font-family:'librebaskerville-bold', serif; font-size: 4rem;">
        <ul class="header-nav">
            <li class="current"><a class="smoothscroll" href="@Url.Action("Index","News")" title="home">Zvistka</a></li>
        </ul>
    </nav>

    <nav class="header-nav-wrap">
        <ul class="header-nav">
            @*<li class="current"><a class="smoothscroll" href="#home" title="Головна">Головна</a></li>*@
            <li><a class="smoothscroll" href="@Url.Action("Index","News")" title="Новини">Новини</a></li>
            <li><a class="smoothscroll" href="@Url.Action("AboutUs","News")" title="Про нас">Про нас</a></li>
            <li><a class="smoothscroll" href="#" title="Замовити">Замовити</a></li>
            <li><a class="smoothscroll" href="#" title="Логін">Логін</a></li>
        </ul>
    </nav>

    <a class="header-menu-toggle" href="#0"><span>Меню</span></a>

</header>
<div class="container">
    @RenderBody()
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
    <script src="~/Scripts/Shared/layout.js"></script>
    <script src="~/Scripts/Shared/push.js"></script>
    <script src="~/Scripts/Shared/sw.js"></script>

</body>
</html>
