@model IEnumerable<WebTemplate.Database.Models.Category>

@{
    ViewBag.Title = "Index";
}
<div id="works" class="s-works target-section" style="margin-top: 72px; padding-bottom: 0 !important; padding-top: 0 !important; height: 100%;">

    <div class="about-content about-content--buttons pull-right" style="margin-top: 2rem;">
        <div class="tab-full" style="padding-right: 65px;">
            <a href="@Url.Action("Create", "Categories")" class="btn btn--primary full-width">Додати категорію</a>
        </div>
    </div>

    <table class="table align-center" style="margin: 0 50px 50px;">
        <tr>
            <th>
                Категорії
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
