@model WebTemplate.MVC.ViewModels.Newss.NewsDetailsModel

@{
    ViewBag.Title = "Details";
}

<div class="row blog-content">
    <div class="col-full">
        <div class="blog-list block-1-2 block-tab-full">
          
                <article class="col-block">

                    @*<div class="blog-date">
                        <a href="@Url.Action("Details", "News", new {id = Model.Id})">@Model.PublishDate</a>
                    </div>

                    <h2 class="h01">
                        <a href="@Url.Action("Details", "News", new {id = Model.Id})">@Model.Title</a>
                    </h2>
                    <p>
                        @Html.Raw(Model.Summary)
                    </p>

                    <div class="blog-cat">
                        @Url.Action("Index", "News", new { tags = Model.Tags })
                    </div>*@
                </article>
        </div>
    </div>
</div>

public string Title { get; set; }

public string Text { get; set; }

public string Tags { get; set; }

public string OriginalUrl { get; set; }

public string Summary { get; set; }

public DateTime? PublishDate { get; set; }

public int ViewsCount { get; set; }

public string Author { get; set; }

public string Source { get; set; }

public string Category { get; set; }
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
