@model WebTemplate.MVC.ViewModels.Newss.NewsDetailsModel

@{
    ViewBag.Title = "Details";
}
<div class="sector-details">
</div>
<div class="details-block">
    <div class="row section-intro has-bottom-sep" style="padding-bottom: 0">
        <div class="col-full text-center ">
            <a href="@Model.OriginalUrl" style="text-decoration: none;">
                <h3 style="margin-top: 0rem;">@Model.Title</h3>
            </a>
            <div class="blog-date">
                <a href="@Url.Action("Details", "News", new {id = Model.Id})" style="font-size: 12px; text-decoration: none;color: #333;">@Model.PublishDate</a>
            </div>
            @if (!Model.Author.IsEmpty())
            {
                <h4 style="margin: 0">Автор: @Model.Author</h4>

            }
            <h4 class="ignore-margin">
                Категорія: @Model.Category
            </h4>
            <div class="blog-cat">
                <a href="@Url.Action("Index", "News", new {tags = Model.Tags})" style="color: #333;">@Model.Tags</a>
            </div>
        </div>
    </div>
    <div class="text-block" style="padding: 0 10%; color: #333; text-align: justify; margin-top: -35px;">
        <div class="col-full text-center"></div>
        <p class="lead">
            @Html.Raw(Model.Text)

        </p>
    </div>

    @*<img class="image-details" src="~/Images/contact-bg.jpg" />*@
    <img class="image-details" src="~/Data/Images/@Model.Image" />

    @*<div class="col-full text-center">
            <h3 class="ignore-margin">
                Категорія: @Model.Category
            </h3>
            <div class="blog-cat">
                <a href="@Url.Action("Index", "News", new {tags = Model.Tags})">@Model.Tags</a>
            </div>
        </div>*@

    <div class="col-full text-center">
        <h3 class="ignore-margin">
            @foreach (var item in Model.DuplicateNews)
            {
                @item
            }
        </h3>
    </div>
</div>
</div>



@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@