@model IEnumerable<WebTemplate.Database.Models.News>

<div class="masonry">

    @foreach (var item in Model)
    {
        <div class="masonry__brick" style="padding: 12px;">
            <div class="item-folio">

                <div class="item-folio__thumb">
                    <a href="~/Data/Images/@item.Image" class="thumb-link" title="The Beetle Car" data-size="1050x700">
                        <img src="~/Data/Images/@item.Image"
                             srcset="~/Data/Images/@item.Image 1x, ~/Data/Images/@item.Image 2x" alt="@item.Title">
                        <span class="shadow-overlay"></span>
                    </a>
                </div>

                <a class="item-folio__text action-news" href="@Url.Action("Details", "News", new { id = item.Id })" style="text-decoration: none">
                    <h3 class="item-folio__title">
                        @item.Title
                    </h3>
                    <p style="line-height: 1.2;opacity: 0.8;">
                        @Html.Raw(item.Summary)
                    </p>

                    <div>
                        <a href="@Url.Action("Index", "News", new {tags = item.Tags})">@item.Tags</a>
                    </div>
                </a>

                <a href="@item.OriginalUrl" class="item-folio__project-link" title="Project link">
                    <i class="im im-link"></i>
                </a>

                @*<div class="item-folio__caption">
                    <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                </div>*@

            </div> <!-- end item-folio -->
        </div>
                <!-- end masonry__brick -->


    }
</div>