@model IEnumerable<WebTemplate.Database.Models.News>


<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Hola</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link href="~/Content/base.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/vendor.css">
    <link rel="stylesheet" href="~/Content/main.css">

    <!-- script
    ================================================== -->
    @*<script src="~/Scripts/modernizr.js"></script>
        <script src="~/Scripts/pace.min.js"></script>
        <script src="~/Scripts/main.js"></script>*@


    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="~/Images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Images/favicon.ico" type="image/x-icon">
</head>

@using (Html.BeginForm("Index", "News", FormMethod.Get))
{
    <div class="form-horizontal">
        <h4>News</h4>
        <hr />

        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBox("Tags", Request.QueryString["Tags"])
                @Html.Hidden("category", Request.QueryString["category"])
            </div>
        </div>
    </div>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
