@model IEnumerable<WebTemplate.Database.Models.News>


<div class="row blog-content">
    <div class="col-full">
        <div class="blog-list block-1-2 block-tab-full">
            @foreach (var item in Model)
            {
                <article class="col-block">

                    <div class="blog-date">
                        <a href="@Url.Action("Details", "News", new {id = item.Id})">@item.PublishDate</a>
                    </div>

                    <h2 class="h01">
                        <a href="@Url.Action("Details", "News", new {id = item.Id})">@item.Title</a>
                    </h2>
                    <p>
                        @Html.Raw(item.Summary)
                    </p>

                    <div class="blog-cat">
                        <a href="@Url.Action("Index", "News", new { tags = item.Tags })">@item.Tags</a> 
                    </div>
                </article>
            }
        </div>
    </div>
</div>